@charset "utf-8";

* {
    margin:0;
    padding:0;
}

/** Layout **/
.main{
    margin: 0 auto;
    width: 75%;
}

#flashMessage{
    margin-top: 5%;
    text-align: center;
    font-size: 150%;
}

#authMessage{
    text-align: center;
    margin-bottom: 3%;
}

.message{
    color: red;
}

.popupForm{
    margin: 5% auto;
    padding: 20px;
    width: 350px;
    background: #dcdcdc;
    text-align: left;
}

footer{
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #eaeaea;
}

.error-message, .clr-red{
    color: red;
}

.clr-green{
    color: green;
}

textarea#UserAddress{
    resize: vertical;
}

.u-ava{
    width: 22px;
    height: 22px;
}

.ava-preview{
    width: 150px;
    height: 150px;
    padding: 4px;
    background: #fff;
    border-radius: 4px;
}

.ava-preview > img{
    width: 100%;
    height: 100%;
}

.wl-content{
    margin: 0 auto;
    width: 75%;
}

.align-center{
    text-align: center;
}

.icon-preview{
    width: 64px;
    height: 64px;
    padding: 4px;
    background: #fff;
    border-radius: 4px;
}

img.wl-icon-preview{
    width: 100%;
    height: 100%;
}

.img-26px{
    width: 26px;
    height: 26px;
}

.cat-in, .cat-out{
    float: left;
    display: block;
    width: 45%;
}

.cat-out{
    margin-left: 10%;
}

.align-right{
    text-align: right;
}

.right{
    float: right;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: right;
}

.rp-area{
    margin: 5% 0 5% 0;
    overflow: hidden;
}

.rp-row, .rp-box-date, .option-sort-area{
    overflow: hidden;
}

.option-sort-area{
    margin-top: 2%;
}

.rp-box-date{
    float: right;
    margin-right: 3%;
}
